{% extends "base.html" %}
{% load webclock %}

{% block menuextra %}
<li class="toplink">
<form id="stats_type_form">
<select id="stats_type" name="typ">
<option value="png" {%if "png" == current%}selected="1"{%endif%}>Image</option>
<option value="js" {%if "js" == current%}selected="1"{%endif%}>Interactive</option>
</select>
</form>
</li>
{% endblock %}


{% block content %}
{% for session in sessions %}
{% if now_week == session.week %}
    {% ifchanged session.week%}<h3>This week</h3>{% endifchanged %}
{% else %}
    {% ifchanged session.week%}<h3>Week {{ session.start|date:"W" }}</h3>{% endifchanged %}
{% endif %}
<a href="/stats/{{ session.id }}/" class="stats_detail">{{ session.start|date:"DATETIME_FORMAT" }} - {{ session.stop|date:"DATETIME_FORMAT" }} ({{session.length|timelengh}})</a>
    {% if session.learndata.placed %}<img src="/static/webclock/generic/marker.png" />{% endif %}
    <br/>
{% endfor %}

{% block js_footer %}
<script type="text/javascript">
$('#stats_type').change(function() {
  $('#stats_type_form').submit();
});
</script>
{% endblock %}


{% endblock %}
